.edit-user {
  .btn-sm {
    padding: 0.5rem 1.05rem;
    background: #484849;
    border-color: #ffffff;
  }
  .btn-sm:hover {
    color: #fff;
    background-color: #000000;
    border-color: #1985ac;
  }
}