/.idea
/node_modules
.env
/logs
/dist
/assets
/server_build

package-lock.json
yarn-error.log
npm-debug.log
*.sql
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

/database/testing/testdb.sqlite
/documents/db/*
/documents/db.mwb.bak
/uploads/
/public/uploads/

#ignore css file in client folder
/client/**/*.css
.DSDS_Store
*.DS_Store