files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/02_create_folder_uploads_temp.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /var/app/current
      sudo -u nodejs mkdir uploads
      cd /var/app/current/public
      sudo -u nodejs mkdir uploads