@import '../../../scss/variable';
.display-route{
  .nexty {
    &__map {
      &--item {
        background: $display-route-side-bar-bg;
        color: white;
        margin: 2px 0 2px 0;
        border: 5px;
        border-radius: 5px;
        font-size: 20px;
        p {
          margin-bottom: 5px;
        }
      }
    }
  }
  .sidebar-item .progress{
    height: 3px;
  }

  .bg_orange .progress-bar{
    background: orange;
  }
  .bg_green .progress-bar{
    background: green;
  }
  .bg_red .progress-bar{
    background: red;
  }

  p {
    font-size: 18px;
  }

  .w-20 {
    width: 20px;
  }

  .fs-14 {
    font-size: 14px;
  }

  .fs-12 {
    font-size: 12px;
  }

  .step {
    font-size: 14px;
    &-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 10px;
    }

    &-content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      p {
        margin-bottom: 0;
      }
    }

    &-circle {
      width: 24px;
      height: 24px;
      min-width: 24px;
      min-height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      color: black;
      border-radius: 50%;
      margin-right: 10px;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
    }

    &-body {
      padding-left: 34px;
      padding-right: 38px;
      word-break: break-word;
    }

    &-item {
      position: relative;
    }
    &-line  {
      content: "";
      display: block;
      width: 1px;
      background: white;
      position: absolute;
      height: calc(100% - 44px);
      left: 12px;
      top: 54px;
    }
  }
}
