$width-map: 70%;
$menu-height: 40px;
$header-height: 53px;
$bg-header: white;
$bg-user-setting-sidebar:  #06272d;
$bg-user-setting-content: #062A30;
$border-user-setting: #062A30;
$sidebar-with: 230px;
$width-85-percent: 85%;